* {
	box-sizing: border-box;
}

html {
	background-color: #d9d9d9;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #a6a6a6;
}

.hidden {
	display: none;
}

.container {
	background-color: #FEFDFB;
	max-width: 800px;
	min-height: 850px;
	margin: 0 auto;
}

header h1 {
	text-align: center;
	padding: 8% 0 4% 0;
	font-size: 3em;
	color: #bfbfbf;
}

button {
	color: white;
	background-color: #d9d9d9;
	cursor: pointer;
	border: 1px solid white;
}

.landing-only {
	text-align: center;
	padding-top: 8%;
}

.landing-only h3:nth-child(2) {
	color: #ffbb99;
}

.start {
	margin-top: 5%;
}

.which-question-container {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: #d9d9d9;
	padding-left: 0;
}

.which-question {
	display: inline-block;
	width: 14.286%;
	margin-right: -4px;
	text-align: center;
	border: 1px solid white;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

.correct-container {
	background-color: #b3e6b3;
}

.incorrect-container {
	background-color: #ffbb99;
}

.pages {
	margin: 8% 3%;
}

.pages h3 {
	padding: 2% 0;
}

.right-answer button, .wrong-answer button {
	margin-right: 2%;
	display: inline-block;
	width: 25px;
	height: 25px;
	-webkit-appearance: none;
}

.solutions {
	padding: 5% 5% 0 5%;
	text-align: left;
	color: #bfbfbf;
}

.next-page {
	display: block;
	margin: 0 auto;
}

.correct-text {
	text-align: center;
	color: #b3e6b3;
}

.incorrect-text {
	text-align: center;
	color: #ffbb99;
}

.pageFinal {
	text-align: center;
	padding-top: 5%;
}

.pageFinal button {
	margin-top: 6%;
}

@media screen and (max-width: 375px) {
	.container {
		max-width: 90%;
		min-height: 548px;
		padding: 10px;
	}
	header h1 {
		font-size: 1.8em;
	}
	.which-question {
		font-size: .2em;
	}
}

@media screen and (max-width: 560px) and (min-width: 376px) {
	.container {
		max-width: 90%;
		min-height: 700px;
		padding: 10px;
	}
	header h1 {
		font-size: 1.8em;
	}
	.which-question {
		font-size: .5em;
	}
}

@media screen and (max-width: 868px) and (min-width: 561px)  {
	.container {
		max-width: 90%;
	}
}