* {
	box-sizing: border-box;
}

/* when bigger, max-height 90% */
html {
	background-color: #e7beb1;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #cccccc;
	border: 2px solid grey;
	position: fixed;
	width: 100%;
	height: 100%;
}

.holder {
	position: relative;
	width: 100%;
	height: 100%;
}


.hidden {
	display: none;
}

.container {
	border: 3px solid #cccccc;
	position: absolute;
	width: 80%;
	height: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
}


h1, .landing-only h3 {
	text-align: center;
	color: grey;
}

h1 {
	font-size: 4em;
	padding-top: 5%;
	padding-bottom: 5%;
}

h3 {
	font-size: 1.8em;
	padding: 0 10% 0 10%;
}

p {
	font-size: 1.2em;
	padding: 1.5%;
	color: #cccccc;
}

header {
	border: 1px solid black;
}

.pages, .solutions {
	padding: 30px 10px 20px 10px;
	border: 1px solid pink;
}

button {
	cursor: pointer;
	font-size: 1.2em;
	color: #cccccc;
	border: 1px solid #cccccc;
	background-color: #ffebe5;
	padding: 5px 8px 5px 8px;
}

.landing-only button {
	display: block;
	margin: auto;
	margin-top: 30%;
}

.which-question-container {
	width: 100%;
	border: 1px solid white;
	font-size: 0;
	background-color: #cccccc;
	margin-top: 0;
}

.which-question {
	display: inline-block;
	padding: 10px;
	text-align: center;
	width: 14.28%;
	border: 1px solid white;
	font-size: 18px;
	color: white;
}

.correct-container {
	background-color: #b3e6b3;
}

.incorrect-container {
	background-color: #ffbb99;
}

.page1 h3, .page2 h3, .page3 h3, .page4 h3, .page5 h3, .page6 h3, .page7 h3 {
	padding-left: 10px;
}

.right-button, .wrong-button {
	margin-right: 10px;
	margin-left: 30px;
}

.solutions button {
	display: block;
	margin: auto;
}

.solutions p {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

.correct-text {
	text-align: center;
	color: #b3e6b3;
}

.incorrect-text {
	text-align: center;
	color: #ffbb99;
}

.solutions {
	position: absolute;
	bottom: 0;
	width: 100%;
}

@media (min-width: 768px) {
	.container {
		background-color: #f9efec;
		max-width: 700px;
		max-height: 1100px;
	}
}

